/* Colors */
$gray-dark: #333 !default;
$gray-light: #eee !default;

/* Button */
$btn-default-background-color: $gray-light !default;
$btn-default-border-color: $gray-dark !default;

/* Padding */
$padding-md-vertical: 0.7rem !default;
$padding-md-horizontal: 1rem !default;
$padding-sm-vertical: 0.4rem !default;
$padding-sm-horizontal: 0.6rem !default;
$padding-lg-vertical: 1.2rem !default;
$padding-lg-horizontal: 1.6rem !default;
$padding-xl-vertical: 3rem !default;
$padding-xl-horizontal: 4rem !default;

/* Breaks */
$break-md: 800px !default;
$break-sm: 600px !default;
$break-xs: 400px !default;

/* Navbar */
$navbar-height-lg: 80px !default;
$navbar-height-md: 60px !default;
$navbar-background-color: $gray-light !default;

/* Footer */
$footer-background-color: $gray-light !default;

/* Hero */
$hero-height-lg: 500px !default;
$hero-height-md: 300px !default;

/* Sharer */
$social-sharer-background-color: $gray-light !default;